body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: rgb(1, 1, 67);
}

.logo {
    position: absolute;
    top: 5%;
    left: 20px;
    height: 100px; 
    width: auto;
}

@media (max-width: 767px) {
    .logo {
        height: 60px;
        position: absolute;
        top: 10%;
        left: 20px;
    }
    /* On s'assure que le titre et la nav touchent presque le bord bas */
    header h1 {
        margin-bottom: 5px;
    }
    nav.nav.list {
        margin-bottom: 10px;
    }
}

.socials {   
    position: absolute;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    right: 20px;
    gap: 15px;

    justify-content: center;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .socials {
        position: absolute;
        top: 30%;
        right: 20px;
    }
    header h1 {
        margin-top: 50px;
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
}

header h1 {
    margin-top: 60px; 
    max-width: 80%;
    text-align: center;
    font-size: 1.5rem;
    font-size: clamp(1.2rem, 4vw, 2.5rem); 
    white-space: nowrap; /* Empêche le passage à la ligne */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials img {
    height: 35px;
    width: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.socials img:hover {
    transform: scale(1.30);
    opacity: 1;
}

@media (min-width: 767px) {
    header h1 {
        margin-top: 0px;
        font-size: 2rem;
    }
}

.emoji {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.home {
    background: url('img/ciel_noir2.jpg') center/cover fixed;
    position: relative;
    overflow-x: hidden;
}

.sudoku {
    background: url('img/ciel_noir2.jpg') center/cover fixed;
    position: relative;
    overflow-x: hidden;
}

.allos {
    background: url('img/ciel_noir2.jpg') center/cover fixed;
    position: relative;
    overflow-x: hidden;
}

.planning {
    background: url('img/ciel_noir2.jpg') center/cover fixed;
    position: relative;
    overflow-x: hidden;
}



.home::before {
content: "";
position: fixed;
top: 0; left: 0;
width: 200%; height: 200%;
background-image:
radial-gradient(1px 1px at 20px 30px, #fff, transparent),
radial-gradient(1px 1px at 200px 150px, #fff, transparent),
radial-gradient(2px 2px at 400px 80px, #fff, transparent),
radial-gradient(1px 1px at 600px 300px, #fff, transparent),
radial-gradient(2px 2px at 800px 120px, #fff, transparent);
animation: starsMove 60s linear infinite;
opacity: 0.6;
pointer-events: none;
}


@keyframes starsMove {
    from { transform: translateY(0); }
    to { transform: translateY(-500px); }
}


header {
    background: rgba(0,0,0,0.7);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 120px;
}

nav.nav.list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}

nav a {
    margin: 5px 10px;
    color: #7dd3ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

nav a:hover {
    transform: scale(1.30);
    opacity: 1;
}


.intro {
    text-align: center;
    padding: 40px 20px;

}

.equipage{
    text-align: center;
    margin-bottom: 60px;
}


.members {
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
    color:rgb(188, 139, 224)

}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 1100px;
    margin: 0 auto; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}



@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

.grid img {
    width: 100%;
    display: block;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.mbr {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.mbr img {
    width: 100%;
    display: block;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.mbr .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
}

.mbr:hover img {
    filter: brightness(60%);
    transform: scale(1.05);
}

.mbr:hover .overlay {
    opacity: 1;
}


section.allos {
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    column-count: 1;
    column-gap: 40px;
}

@media (min-width: 767px) {
    section.allos {
        column-count: 2;
    }
}

section.allos h2 {
    break-after: avoid;
    font-size: 1.5rem;
    margin-top: 25px;
    text-decoration: underline;
}

section.allos p {
    margin-bottom: 20px;
    break-before: avoid;
}

.allo-item {
    display: inline-block; /* Assure la cohésion du bloc */
    width: 100%;
    break-inside: avoid; /* Empêche de couper le bloc entre deux colonnes */
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

.regles {
    text-align: center;
    margin-bottom: 150px;
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
}

.regles h1 {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    color:rgb(188, 139, 224);
    overflow: visible;
}

.regles h1 .emoji {
    height: 1.3em;
    width: auto;
}

.regles img{
    border-radius: 50px;
    padding: 5px;
    height: 450px;
    width: auto;
    margin: auto;
}

@media (max-width: 767px) {
    h1 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .regles img{
        height: 250px;
        width: auto;
        padding: 1px;
    }
}

.points {
    text-align: center;
    margin-bottom: 60px;
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
}

.points h1 {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    color:rgb(188, 139, 224);
    overflow: visible;
}

.points h1 .emoji {
    height: 1.3em;
    width: auto;
}

.points .sys {
    border-radius: 50px;
    padding: 5px;
    height: 450px;
    width: auto;
    margin: auto;
}

@media (max-width: 767px) {
    h1 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .points img{
        height: 250px;
        width: auto;
        padding: 1px;
    }
}

.sudoku-container {
    text-align: center;
    margin-bottom: 60px;
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
}

.sudoku-container img {
    border-radius: 30px;
    padding: 5px;
    height: 450px;
    width: auto;
    margin: auto;
}

.mot {
    text-align: center;
    margin-bottom: 60px;
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
}

.mot h2 {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    color:rgb(188, 139, 224);
    overflow: visible;
    word-spacing: 0.3em;
}

@media (max-width: 767px) {
    h1 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .sudoku-container img{
        height: 250px;
        width: auto;
        padding: 1px;
    }
}



.planning {
    text-align: center;
    margin-bottom: 150px;
    background: rgba(0,0,0,0.5);
    max-width: 1100px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 20px;
}

.planning h2 {
    font-size: clamp(1rem, 4vw, 2rem);
    color:rgb(188, 139, 224);
    overflow: visible;
}


.planning img{
    border-radius: 50px;
    padding: 5px;
    height: 450px;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
}

.planning h2 .emoji {
    height: 1.3em;
    width: auto;
    vertical-align: top;
}

@media (max-width: 767px) {
    h1 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .planning img{
        height: 250px;
        width: auto;
        padding: 1px;
        margin: auto;
    }
}